# Operators are used to perform operations on variables and values.

## Python Operators are divided into the following groups

* Arithmetic operators

* Assignment operators

* Comparison operators

* Logical operators

* Identity operators

* Membership operators

* Bitwise operators

## Arithmetic Operators

* '+' for Addition
* '-' for Subtraction
* '*' for Multiplication
* '\' for Divison
* '\\' for floor divison
* '%' for modulus
* '**' for exponents

In [4]:
# addition of two numbers
x = 8
y = 9
z = x+y
print(z)

17

In [5]:
# subtraction of two numbers
x = 15
y = 10
z = x-y
print(z)

5

In [6]:
# multilpication of two numbers
x = 3
y = 9
z = x*y
print(z)

27

In [7]:
# division of two numbers
x = 27
y = 3
z = x/y
print(z)

9.0

In [8]:
# floor division of two numbers
x = 34
y = 5
z = x//y
print(z)

6

In [1]:
# modulus of two numbers

x = 8
y = 3
z = x%y
print(z)

2

In [2]:
# exponent of a number

x = 8
y = 2
z = x**y
print(z)

64

## Assignment Operators

* '=' for assignment
* '+=' for additive assignment
* '-=' for subtractive assignment
* '*=' for multiplicative assignment
* '/=' for divisive assignment
* '//=' for floor divisive assignment
* '%=' for modulus assignment
* '**=' for exponentiation assignment
* '&=' for bitwise and assignment
* '|=' for bitwise or assignment
* '^=' for bitwise negation assignment
* '>>=' for right shift assignment
* '<<=' for left shift assignment

In [4]:
# assignment operator

x = 5
print(x)

5

In [10]:
# additive assignment

x = 50
x += 5   # similar to x = x+5
print(x)

55

In [11]:
# subtractive assignment

x = 50
x -= 5
print(x)

45

In [13]:
# multiplicative assignment

x = 50
x *= 5
print(x)

250

In [15]:
# divisive assignement

x = 50
x /= 5
print(x)

10.0

In [18]:
# floor division assignment

x = 50
x //= 9
print(x)

5

In [19]:
## modulus assignment

x = 50
x %= 5
print(x)

0

In [30]:
# bitwise and assignment

x = 5
x &= 3
print(x)

1

In [29]:
# bitwise or assignment

x = 50
x |= 2
print(x)

50

In [49]:
# bitwise not assignment

x = 50
x ^= 2
print(x)

48

In [24]:
## left shift assignment

x = 8
x <<= 2
print(x)

32

In [25]:
# right shift assignment

x = 8
x >>= 2
print(x)

2

## Comparison Operators

* '==' for equal comparison
* '!=' for not equal comparison
* '>' for Greater than comparison
* '<' for lesser than comparison
* '>=' for Greater than equal to comparison
* '<=' for Lesser than equal to comparison

In [50]:
# equal to comparison

x = 5
y = 9

print(x == y)

False

In [51]:
# not equal to comparison

x = 8
y = 9
print(x!=y)

True

In [52]:
# greater than comparison

x = 5
y = 3
print(x>y)

True

In [53]:
# lesser than comparison

x = 5
y = 3
print(x<y)

False

In [54]:
# greater than equal to comparison

x = 5
y = 5
print(x>=y)

True

In [55]:
# lesser than equal to comparison

x = 5
y = 9
print(x<=y)

True

## Logical Operators

* 'AND' Retuens true, If both the statements are True
* 'OR' returns true, If One of the Statements are True
* 'NOT' returns true, It will Reverse the Result.

In [56]:
# AND Operation

x = 10
y = 8

x > y and x > 5

True

In [57]:
# OR Operation

x = 10
y = 5

x > 5 or y >8

True

In [60]:
# NOT Operation

x = 10 
y = 5

not(x >= 10 and y == 5)

False

## Identity Operators

* **is**, Returns true, if both the objects are same
* **is not**, Returns true, if both the objects are not the same

In [62]:
m = 5
n = 5

print(m is n)

True

In [63]:
m = ['apple','cat','ball']
n = ['apple','cat','ball']

print( m is n)

False

In [64]:
print(m  == n)

True

In [65]:
print( m is not n)

True

## Membership Operators

* **in**, Returns True if a sequence with the specified value is present in the object	
* **not in**, Returns True if a sequence with the specified value is not present in the object

In [69]:
x = [2, 3, 4, 5, 6, 7]
y = [5]
z = [3, 4, 5]
a = 3

print(y in x)
print(z in x)
print(a in x)

False
False
True

## Bitwise Operator

* **&**, AND Operation
* **|**, OR Operation
* **^**, XOR Operation
* **~**, NOT Operation
* **>>**, Right Shift Operation
* **<<**, Left Shift Operation