# Python Exercise

This is python exercise section to test your understanding about Python. Exercise question written in bold. Provide your solution in blank cell.

### Load math module

In [1]:
import math

### What is cosine of 23?

In [2]:
math.cos(23)

-0.5328330203333975

### Calculate 2 to the power of 6 with 2 different ways

In [3]:
2**6

64

In [4]:
math.pow(2,6)

64.0

### temp = 'I am learning pandas'
#### Extract 'am'  from above string

In [6]:
temp='i am learning pandas'
temp.split()[1]

'am'

In [7]:
temp[2:5]

'am '

#### mylst = [1,2,3,[4,5,['Hello', True], 23.6], 34]
#### Extract 'Hello' from above List

In [8]:
mylst = [1,2,3,[4,5,['Hello', True], 23.6], 34]

In [9]:
mylst[3][2][0]

'Hello'

### How will you remove 34 from mylst variable.

In [10]:
mylst.pop()

34

In [11]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

#### What is difference between tuples and List

#### Create function named "CtoFConverter", Which accept tempreture in celsius  and return fahrenheit

In [12]:
def CtoFConverter(c):
    return 32+1.8*c

In [14]:
CtoFConverter(23)

73.4

#### Calculate day when your birthday. Exp -  Input 1st Feb : return 32 
#### accpet bithmonth and birthday as input (Assume feb has 28 Days)

In [37]:
def birthday(month, day):

In [38]:
birthday(4, 25)

145

#### Given nested Dictionary object, Extract 'Hello' from it
mydict = {'k1', [23,56, False], 'k2' : {'k3': [1, 'Hello']}}

'Hello'