# Python Exercise

This is python exercise section to test your understanding about Python. Exercise question written in bold. Provide your solution in blank cell.

### Load math module

In [3]:
import math

### What is cosine of 23?

In [2]:
import math
math.cos(23)

-0.5328330203333975

### Calculate 2 to the power of 6 with 2 different ways

In [4]:
math.pow(2,6)

64.0

In [5]:
2 ** 6

64

### temp = 'I am learning pandas'
#### Extract 'am'  from above string

In [1]:
temp = 'I am learning pandas'
temp.split()[1]

'am'

In [9]:
temp[2:4]

'am'

#### mylst = [1,2,3,[4,5,['Hello', True], 23.6], 34]
#### Extract 'Hello' from above List

In [17]:
mylst = [1,2,3,[4,5,['Hello', True], 23.6], 34]
mylst[3][2][0]

'Hello'

### How will you remove 34 from mylst variable.

In [15]:
mylst.remove(34)

In [20]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

In [18]:
mylst.pop()

34

In [19]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

#### What is difference between tuples and List

Tuples is immutable.

#### Create function named "CtoFConverter", Which accept tempreture in celsius  and return fahrenheit

In [21]:
def CtoFConverter(C):
    return 32 + 1.8 * C

In [22]:
CtoFConverter(23)

73.4

#### Calculate day when your birthday. Exp -  Input 1st Feb : return 32 
#### accpet bithmonth and birthday as input

In [37]:
def birthday(month, day):
    days = [31, 28, 31, 30, 31, 31, 30, 31, 30 , 31, 30, 31]
    
    if day > 31:
        print('Wrong Day Number')
        return 0
    
    if month > 11:
        print('Wrong Month Number')
        return 0
    elif month == 0:
        return day
    elif month > 0:
        months = days[:month]
        return sum(months) + day

In [38]:
birthday(4, 25)

145

#### Given nested Dictionary object, Extract 'Hello' from it
mydict = {'k1', [23,56, False], 'k2' : {'k3': [1, 'Hello']}}

In [43]:
mydict = {'k1': [23,56, False], 'k2' : {'k3': [1, 'Hello']}}
mydict['k2']['k3'][1]

'Hello'

In [12]:
def birthday(day,month):
    days=[31,28,31,30,31,30,31,31,30,31,30,31]
    if day > 31:
        print('please enter correct number of days')
        return 0
    if month > 11:
        print('please enter correct month number')
        return 0
    elif month==0:
        return day
    elif month > 0:
        months=days[:month]
        return sum(months)+day

In [14]:
birthday(3,2)

62