# Python Crash Course

# Data Type

In [1]:
23

23

In [2]:
3.4

3.4

In [3]:
True

True

In [4]:
False

False

In [5]:
"Data analysis with Pandas"

'Data analysis with Pandas'

In [6]:
3 + 56.6

59.6

In [7]:
x =  34

In [8]:
x

34

In [9]:
print(x)

34

In [10]:
type(x)

int

In [11]:
y = 23.6

In [12]:
type(y)

float

In [13]:
x + y

57.6

In [14]:
z = x * 12

In [15]:
z

408

In [16]:
x - 2*y

-13.200000000000003

In [17]:
x = True

In [18]:
x

True

In [19]:
type(x)

bool

In [20]:
y

23.6

In [21]:
y + x

24.6

In [22]:
z =  False

In [23]:
type(z)

bool

In [24]:
x * z

0

In [25]:
mystr = "Data analysis with Pandas"

In [26]:
mystr

'Data analysis with Pandas'

In [27]:
type(mystr)

str

In [28]:
mystr.capitalize()

'Data analysis with pandas'

In [29]:
mystr.upper()

'DATA ANALYSIS WITH PANDAS'

In [30]:
mystr.lower()

'data analysis with pandas'

In [31]:
mystr.split()

['Data', 'analysis', 'with', 'Pandas']

In [32]:
mystr.isdigit()

False

In [33]:
"98".isdigit()

True

In [34]:
mystr

'Data analysis with Pandas'

In [35]:
len(mystr)

25

In [36]:
mystr[5]

'a'

In [37]:
mystr[5:13]

'analysis'

In [38]:
mystr[5:]

'analysis with Pandas'

In [39]:
mystr[:4]

'Data'

In [40]:
mystr

'Data analysis with Pandas'

In [41]:
mystr[-6]

'P'

# Looping and Decision making

In [42]:
print("1")
print("2")
print("3")
print("4")

1
2
3
4

In [43]:
range(10)

range(0, 10)

In [44]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [45]:
lst = [23, 45, 66, 90, 32]

In [46]:
for temp in lst:
    print(temp + 5)

28
50
71
95
37

In [47]:
for temp in lst:
    if temp % 2 == 1:
        print(temp, " is Odd")
    else:
        print(temp,  " is Even.")

23  is Odd
45  is Odd
66  is Even.
90  is Even.
32  is Even.

# Python Collection

## List  & Tuples

### List

In [48]:
[ 23 , 4, 67]

[23, 4, 67]

In [49]:
lst = [23, 3.5, True, 'I  am in List', 12.5]

In [50]:
type(lst)

list

In [51]:
lst[4]

12.5

In [52]:
lst[3]

'I  am in List'

In [53]:
lst[2 : 4]

[True, 'I  am in List']

In [54]:
lst

[23, 3.5, True, 'I  am in List', 12.5]

In [55]:
lst[2: 5]

[True, 'I  am in List', 12.5]

In [56]:
lst[1: ]

[3.5, True, 'I  am in List', 12.5]

In [57]:
lst[:3]

[23, 3.5, True]

In [58]:
lst[4]

12.5

In [59]:
lst[-1]

12.5

In [60]:
lst[-2]

'I  am in List'

In [61]:
lst

[23, 3.5, True, 'I  am in List', 12.5]

In [62]:
lst.pop()

12.5

In [63]:
lst

[23, 3.5, True, 'I  am in List']

In [64]:
lst.append(6.9)

In [65]:
lst

[23, 3.5, True, 'I  am in List', 6.9]

In [66]:
lst.append(['a','b','c'])

In [67]:
lst

[23, 3.5, True, 'I  am in List', 6.9, ['a', 'b', 'c']]

In [68]:
lst.remove(3.5)

In [69]:
lst

[23, True, 'I  am in List', 6.9, ['a', 'b', 'c']]

In [70]:
lst.reverse()

In [71]:
lst

[['a', 'b', 'c'], 6.9, 'I  am in List', True, 23]

In [72]:
lst.count(23)

1

In [73]:
lst.append(23)

In [74]:
lst

[['a', 'b', 'c'], 6.9, 'I  am in List', True, 23, 23]

In [75]:
lst.count(23)

2

In [76]:
len(lst)

6

# Tuples

In [77]:
('a','b', 'c')

('a', 'b', 'c')

In [78]:
tup = ('a','b', 'c')

In [79]:
type(tup)

tuple

In [80]:
tup[2]

'c'

In [81]:
tup[1] = 'M'

TypeError: 'tuple' object does not support item assignment

In [82]:
tup.count('a')

1

# Dictionary

In [83]:
{
    "John" : "567-674-3480",
    "Alice" : "444-444-4444",
    "Bob" : "123-456-7890"
}

{'John': '567-674-3480', 'Alice': '444-444-4444', 'Bob': '123-456-7890'}

In [84]:
myphonebook = {
    "John" : "567-674-3480",
    "Alice" : "444-444-4444",
    "Bob" : "123-456-7890"
}

In [85]:
type(myphonebook)

dict

In [86]:
myphonebook.keys()

dict_keys(['John', 'Alice', 'Bob'])

In [87]:
myphonebook.values()

dict_values(['567-674-3480', '444-444-4444', '123-456-7890'])

In [88]:
myphonebook['Alice']

'444-444-4444'

In [89]:
for key in myphonebook.keys():
    print(key)

John
Alice
Bob

In [90]:
for key in myphonebook.keys():
    print(key, myphonebook[key])

John 567-674-3480
Alice 444-444-4444
Bob 123-456-7890

# Sets

In [91]:
{'a','b', 'c'}

{'a', 'b', 'c'}

In [92]:
myset = {'a','b', 'c'}

In [93]:
type(myset)

set

In [94]:
myset.add('d')

In [95]:
myset

{'a', 'b', 'c', 'd'}

In [96]:
myset.add('b')

In [97]:
myset

{'a', 'b', 'c', 'd'}

In [98]:
myset.remove('c')

In [99]:
myset

{'a', 'b', 'd'}

# Functions

In [103]:
for temp in range(100):
    print('Pandas')

In [104]:
def printPandas():
    for temp in range(100):
        print('Pandas')

In [106]:
printPandas()

In [107]:
def printPandasXTimes(x):
    for temp in range(x):
        print('Pandas')

In [108]:
printPandasXTimes(2)

Pandas
Pandas

In [109]:
import numpy as np

In [110]:
np.random.randint(100)

54

In [111]:
np.random.randn(10)

array([-2.59652114, -0.08638424, -1.64106055,  0.1266362 , -1.49313091,
        0.14934304,  0.59836845, -0.30333728, -0.19833423, -0.77929776])